body {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  color: #434455;
  letter-spacing: 2%;
  font-size: 16px;
  line-height: 150%;
}

ul, a {
  list-style: none;
  text-decoration: none;
}

.top-logo, .logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.top-menu, .top-contact, .advent-paragraph, .text, .paragraph-footer {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.top-menu, .team-name, .advent-item, .portfolio-title {
  font-size: 20px;
  line-height: 120%;
  color: #2e2f42;
}

.top-contact, .advent-paragraph, .text, .paragraph-footer {
  font-size: 16px;
  line-height: 150%;
  color: #434455;
}

.sections-intro, .footer {
  background-color: #2e2f42;
}

.intro-text {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  color: #fff;
}

.servis-btn {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}
.servis-btn:hover,
.servis-btn:focus {
  color: #404BBF;
}
.top-menu:hover,
.top-menu:focus{
  color: #404BBF;
}


.head-sect, .section-team {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #2e2f42;
  background: #f4f4fd;
  text-transform: capitalize;
}

.team-card {
  background-color: #ffffff;
}

